<form {{action (perform signUp) on="submit"}} class="c_form c_form--login">
  {{#each errors as |error|}}
    <p data-test-error class="c_form--error">{{error}}</p>
  {{/each}}
  <label class="c_form--group">
    <strong class="c_form--label">Username:</strong>
    {{input data-test-username value=username class="c_form--input"}}
  </label>
  <label class="c_form--group">
    <strong class="c_form--label">Password:</strong>
    {{input data-test-password value=password type="password" class="c_form--input"}}
  </label>
  <button data-test-action="sign-up" type="submit" disabled={{signUp.isRunning}} class="c_form--btn btn">Sign Up</button>
</form>
<p class="c_form--note">
  or {{link-to "sign into a existing account" "sign-in"}}
</p>
